[submodule "lib/eris"]
	path = lib/eris
	url = https://github.com/Altenius/eris.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "lib/altshared"]
	path = lib/altshared
	url = https://github.com/Altenius/AltShared.git
